{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <h3><b>Search Result: {{query}}</b></h3>
            {% if searchData|length < 1 %}
            <p>NO Result Found</p>
            <b>Your search - {{query}}</b>- did not match any documents.<br><br>
            <b>Suggestions:</b>
            <ul>
                <li> Make sure that all words are spelled correctly. </li>
                <li> Try different keywords. </li>
                <li> Try more general keywords. </li>
                <li>Try fewer keywords.</li>
            </ul>
        </div>
    </div>
</div>
{%endif%}
<div class="container">
    {% for data in searchData %}
    <div class="col-md-12 border-info border rounded my-2">
        <h4>{{data.title}}</h4>
        <p style="color:#46d6e3; font-size: 1.4rem;">{{data.data}}</p>
        <form method='POST' action='delete/{{data.id}}'>
            {% csrf_token %}
            <button class="btn waves-effect waves-light m-2" type="submit" name="action">Delete
                <i class="material-icons right">delete</i>
            </button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock body %}